name: CI

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        rust_version: [stable, beta, 1.40.0]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: ${{ matrix.rust_version }}
          components: ${{ matrix.rust_version == 'stable' && 'clippy,rustfmt' || '' }}

      - run: cargo update
        if: ${{ matrix.rust_version == 'stable' || matrix.rust_version == 'beta' }}

      - name: cargo build
        uses: actions-rs/cargo@v1
        with:
          command: build

      - name: cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test

      - name: cargo test --features debug
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --features debug
        if:  matrix.rust_version == 'stable'

      - name: cargo test --features debug,tokio
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --features debug,tokio
        if:  matrix.rust_version == 'stable'

      - name: cargo fmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check
        if:  matrix.rust_version == 'stable'

      - name: cargo clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --tests -- -D warnings
        if:  matrix.rust_version == 'stable'

      - name: cargo check --features tokio
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --features tokio
        if: ${{ matrix.rust_version == 'stable' || matrix.rust_version == 'beta' }}

      - name: cargo check --features expose_original_error
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --features expose_original_error
